.control-ui-input-select-day {
    text-align: center;
  
}

.control-ui-input .label {
    font-size: 16px;
    margin-bottom: 10px;
}

.control-ui-input .days {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.control-ui-input .day-input {
    display: none;
}

.control-ui-input .day-label {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.3s, border-color 0.3s;
}

    .control-ui-input .day-label:hover {
        border-color: black;
    }

/* Multi-Select Styling */
.control-ui-input-select-day.multi-select .day-input:checked + .day-label {
    background-color: #4CAF50;
    border-color: #2E7D32;
    color: white;
    font-weight: bold;
}

/* Single-Select Styling */
.control-ui-input-select-day.single-select .day-input:checked + .day-label {
    background-color: #FF9800;
    border-color: #E65100;
    color: white;
    font-weight: bold;
}

/*.buttons {
    margin-top: 10px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}

    button:hover {
        background-color: #0056b3;
    }
*/