
body {
    font-size: 2.8rem;
    white-space: nowrap;
    overflow-y:hidden
}

.page-title-body {
    font-size: 2rem; /*Page header*/
}

h1 {
    font-size: 3.5rem; /*machine name*/
    font-weight: 800;
}

h2 {
    font-size: 4rem; /*Date time*/
    font-weight: 800;
}

.lable-date-time {
    font-weight: 800;
}

.col-labal-info-pcs {
    flex: 0 0 40%;
    max-width: 40%;
}

.col-labal-text-pcs {
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
}

.label-display-model {
    /*padding-left:1.6rem;*/
}

.label-display-target {
    /*padding-top: 2rem;*/
    /*padding-left: 1.6rem;*/
}

.separator-line-center {
    border-right: 6px solid black;
    /*margin-top: 2rem;*/
    z-index: 999;
    height: 70%;
    width: 50%;
    position: fixed;
}

.label-display-info {
    /*margin-top:1rem;*/
    line-height: 1.5em;
    font-size: 5.5rem; /*Data in text box*/
    /*font-size: 6rem;*/
    white-space: nowrap;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: 800;
    /*padding-top: 0.5rem;*/
    height: 8rem;
}

.label-display-tital {
    margin-top: 2rem;
    font-weight: 700;
}

.label-display-tital-2 {
    /*margin-top: -2rem;*/
    font-weight: 700;
    /*padding-left: 0;*/
}

.label-display-manual-downtime {
    padding-left: 2.5rem;
}

.label-display-auto-stop-time {
    padding-left: 2.95rem;
}

thead {
    font-size: 4.0rem;
}

tbody {
    font-size: 5.0rem; /* data in table*/
    font-weight: 680;
}
/*}*/

@media screen and (min-width: 3800px) {

    body {
        font-size: 7.3rem;
    }

    .page-title-body {
        font-size: 7rem;
    }

    h1 {
        font-size: 9rem;
        font-weight: 800;
    }

    h2 {
        font-size: 7rem;
        font-weight: 800;
    }

    .lable-date-time {
        font-weight: 800;
    }


    .label-display-info {
        font-size: 11rem;
        border: 2px solid black;
        border-radius: 10px;
        font-weight: 800;
        padding-top: 1rem;
        height: 20rem;
    }

    .label-display-tital {
        margin-top: 3rem;
        font-weight: 800;
    }

    .label-display-tital-2 {
        margin-top: 0rem;
        font-weight: 800;
        padding-left: 0;
    }


    thead {
        font-size: 7rem;
        font-weight: 800 !important;
    }

    tbody {
        font-size: 8rem;
        font-weight: 800;
    }

    .k-grid td {
        /*padding: 0rem !important;*/
        padding-block: 4rem !important;
    }
}




#body-bg[data-content="SERIOUS DELAY"] {
    background-color: var(--status-background-color-serious-delay) !important;
    background-image: none;
}

#body-bg[data-content="DELAY"] {
    background-color: var(--status-background-color-delay) !important;
    background-image: none;
}

#body-bg[data-content="ON TIME"] {
    background-color: var(--status-background-color-on-time) !important;
    background-image: none;
}

#body-bg[data-content="EXCELLENT"] {
    background-color: var(--status-background-color-excellent) !important;
    background-image: none;
}



.k-grid-header {
    padding-right: 0px !important;
}

.k-auto-scrollable {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

tr[data-content="On Process"] {
    background-color: orange !important;
}

tr[data-content="Complete"] {
    background-color: #92d050 !important;
}


tr[data-content="Finish"] {
    background-color: rgb(51, 255, 0) !important;
}



/*On Process*/
/*Complete*/
.header-machine {
    /*height: 5%;*/
    position: relative;
    font-weight: 800;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.content-info-display {
    /*height: 200px;*/
    /*position: relative;*/
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

#grid-info {
    margin-right: 1rem
}

.text-pcs {
    padding-left: 1rem;
}

.text-no-plan {
    font-size: 15rem !important;
    font-weight: 800;
    height: 20rem;
    padding: 10rem;
    text-align: center;
}
